In [1]:
#==============================
#CONFIGURACIÓN INICIAL
#==============================
# Verificar si estamos en Google Colab
try:
    import google.colab
    IN_COLAB = True
    print(" Ejecutándose en Google Colab")
except ImportError:
    IN_COLAB = False
    print(" No está en Google Colab")

# Importaciones necesarias
import sys
print("Versión de Python:", sys.version)

import tensorflow as tf
print("GPU disponible:", tf.config.list_physical_devices('GPU'))

# Instalar librerías adicionales si es necesario
!pip install seaborn plotly

# Importaciones estándar
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report
import warnings
warnings.filterwarnings('ignore')

# Configuración de visualización
plt.style.use('default')
sns.set_palette("husl")
plt.rcParams['figure.figsize'] = (10, 6)
plt.rcParams['font.size'] = 12

print("Entorno configurado correctamente en Google Colab")

 Ejecutándose en Google Colab
Versión de Python: 3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]
GPU disponible: []
Requirement already satisfied: seaborn in /usr/local/lib/python3.12/dist-packages (0.13.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.12/dist-packages (5.24.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /usr/local/lib/python3.12/dist-packages (from seaborn) (2.0.2)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.12/dist-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /usr/local/lib/python3.12/dist-packages (from seaborn) (3.10.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from plotly) (9.1.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from plotly) (25.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Entorno configurado correctamente en Google Colab

# **Notebook 1: Fundamentos de NumPy y Pandas**

*   Ejercicios de manipulación de arrays con Numpy
*   Análisis de datos con Pandas Usando Datasets de ejemplo
*   Documentar cada celda con markdown explicativo

**DATASET EMPLEADA:** *Titanic: Análisis de Supervivencia*

In [44]:
#==============================================
#CARGA DE DATOS EN COLAB
#==============================================
#Cargar Dataset Titanic
titanic = sns.load_dataset('titanic')

print("Información del Dataset:")
print(f"Dimensión del Dataset: {titanic.shape}")
print(f"Detalle Columnas: {list(titanic.columns)}")
print("\nPrimeras 10 filas:")
titanic.head(10)

Información del Dataset:
Dimensión del Dataset: (891, 15)
Detalle Columnas: ['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone']

Primeras 10 filas:

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [43]:
#===============================================
#EJERCICIOS DE MANIPULACIÓN DE ARRAYS CON NUMPY
#===============================================

edad = np.array(titanic['age'].dropna())
tarifa = np.array(titanic['fare'].dropna())
sobreviviente = np.array(titanic['survived'].dropna())
sexo = np.array(titanic['sex'].dropna())

print("=" * 40)
print("Estadística Básica con Numpy:")
print("=" * 40)
print(f"Edad Promedio: {np.mean(edad):.0f}")
print(f"Edad Mediana: {np.median(edad):.0f}")
print(f"Edad Desviación Estándar: {np.std(edad):.2f}")

print(f"\nTarifa Promedio: ${np.mean(tarifa):.2f}")
print(f"Tarifa Máxima: ${np.max(tarifa):.2f}")
print(f"Tarifa Mínima: ${np.min(tarifa):.2f}")
print(f"Tarifa Total: ${np.sum(tarifa):.2f}")

print("=" * 40)
print("Operaciones con Numpy")
print("=" * 40)
menores = edad[edad < 18]
print(f"Menores de Edad: {len(menores)}")
sobrevivieron= np.sum(sobreviviente == 1)
print(f"Sobrevivientes: {sobrevivieron}")
no_sobrevivieron = np.sum(sobreviviente == 0)
print(f"No Sobrevivientes: {no_sobrevivieron}")
mujer_sobrev = np.sum((sexo == 'female') & (sobreviviente == 1))
print(f"Mujeres Sobrevivientes: {mujer_sobrev}")
hombre_sobrev = np.sum((sexo == 'male') & (sobreviviente == 1))
print(f"Hombres Sobrevivientes: {hombre_sobrev}")

z_fares = (tarifa - np.mean(tarifa)) / np.std(tarifa)
print(f"\nTarifas normalizadas:\n {z_fares[:10]}")

========================================
Estadística Básica con Numpy:
========================================
Edad Promedio: 30
Edad Mediana: 28
Edad Desviación Estándar: 14.52

Tarifa Promedio: $32.20
Tarifa Máxima: $512.33
Tarifa Mínima: $0.00
Tarifa Total: $28693.95
========================================
Operaciones con Numpy
========================================
Menores de Edad: 113
Sobrevivientes: 342
No Sobrevivientes: 549
Mujeres Sobrevivientes: 233
Hombres Sobrevivientes: 109

Tarifas normalizadas:
 [-0.50244517  0.78684529 -0.48885426  0.42073024 -0.48633742 -0.47811643
  0.39581356 -0.22408312 -0.42425614 -0.0429555 ]

In [81]:
#===============================================
#ANÁLISIS DE DATOS CON PANDAS (TITANIC)
#===============================================
print("=" * 40)
print("Limpieza y transformación de datos:")
print("=" * 40)

#Información del dataset
print("**Información general:")
print(titanic.info())

print("\n**Valores nulos por columna:")
print(titanic.isnull().sum())

# Estadísticas descriptivas
print("=" * 40)
print("Estadísticas descriptivas:")
print("=" * 40)
print(titanic.describe())

print("=" * 40)
print("ANÁLISIS POR GÉNERO:")
print("=" * 40)
tabla_genero = titanic.groupby('sex')['survived'].agg(['count', 'sum', 'mean'])
tabla_genero.columns = ['Total', 'Sobrevivientes', 'Tasa de Sobrevivencia']
tabla_genero.index.name = "GÉNERO"
tabla_genero.index = tabla_genero.index.str.upper()
print(tabla_genero)

print("=" * 40)
print("ANÁLISIS POR CLASE:")
print("=" * 40)
tabla_clase = titanic.groupby('class')['survived'].agg(['count', 'sum', 'mean'])
tabla_clase.columns = ['Total', 'Sobrevivientes', 'Tasa de Sobrevivencia']
tabla_clase.index = tabla_clase.index.str.upper()
tabla_clase.index.name = "CLASE"
print(tabla_clase)

print("=" * 40)
print("ANÁLISIS POR GRUPO DE EDAD:")
print("=" * 40)
grupo = [0, 12, 18, 60, 100]
labels = ['Niño', 'Adolescente', 'Adulto', 'Adulto Mayor']
titanic['grupo_edad'] = pd.cut(titanic['age'], bins=grupo, labels=labels)
tabla_edad = titanic.groupby('grupo_edad')['survived'].agg(['count', 'sum', 'mean'])
tabla_edad.columns = ['Total', 'Sobrevivientes', 'Tasa de Sobrevivencia']
tabla_edad.index.name = "GRUPO_EDAD"
print(tabla_edad)

========================================
Limpieza y transformación de datos:
========================================
**Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
 15  grupo_edad   714 non-null    category
dtypes: bool(2), category(3), float64(2), int64(4), object(5)
memory usage: 81.7+ KB
None

**Valores nulos por columna:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
grupo_edad     177
dtype: int64
========================================
Estadísticas descriptivas:
========================================
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
========================================
ANÁLISIS POR GÉNERO:
========================================
        Total  Sobrevivientes  Tasa de Sobrevivencia
GÉNERO
FEMALE    314             233               0.742038
MALE      577             109               0.188908
========================================
ANÁLISIS POR CLASE:
========================================
        Total  Sobrevivientes  Tasa de Sobrevivencia
CLASE
FIRST     216             136               0.629630
SECOND    184              87               0.472826
THIRD     491             119               0.242363
========================================
ANÁLISIS POR GRUPO DE EDAD:
========================================
              Total  Sobrevivientes  Tasa de Sobrevivencia
GRUPO_EDAD
Niño             69              40               0.579710
Adolescente      70              30               0.428571
Adulto          553             215               0.388788
Adulto Mayor     22               5               0.227273

In [99]:
from google.colab import drive
drive.mount('/content/drive')
!find /content/drive -name "*.ipynb"

Mounted at /content/drive
/content/drive/MyDrive/contenido/IA_semana1_2025.ipynb
/content/drive/MyDrive/contenido/Notebook_1_Fundamentos_de_NumPy_y_Pandas.ipynb

In [121]:
# ================================================
#   GUARDAR NOTEBOOK EN GITHUB DESDE COLAB
#   Andrea Ordoñez
# ================================================

# 1. Montar Drive (si no está montado)
from google.colab import drive
drive.mount('/content/drive')

# 2. Configurar Git
!git config --global user.email "andrea.ordonezr@uees.edu.ec"
!git config --global user.name "Andrea Ordoñez"

# 3. Limpiar clonaciones anteriores
!rm -rf /content/repos

# 4. Crear carpeta de trabajo y clonar repo
!mkdir /content/repos
%cd /content/repos

!git clone https://github.com/akordone22/UEES-IA-Semana1-OrdonezAndrea.git
%cd UEES-IA-Semana1-OrdonezAndrea

# 5. Crear ruta si no existe
!mkdir -p 02_Laboratorio/notebooks

# 6. Copiar notebook al repositorio
# ⚠️ CAMBIA SOLO ESTE NOMBRE por tu notebook actual
!cp /content/drive/MyDrive/contenido/Notebook_1_Fundamentos_de_NumPy_y_Pandas.ipynb 02_Laboratorio/notebooks/

# 7. Commit
!git add .
!git commit -m "Subir notebook desde Colab"

# 8. Push usando token
import getpass
usuario = "akordone22"
token = getpass.getpass("Pega tu token de GitHub:")

!git push https://$usuario:$token@github.com/akordone22/UEES-IA-Semana1-OrdonezAndrea.git main

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
shell-init: error retrieving current directory: getcwd: cannot access parent directories: No such file or directory
/content/repos
Cloning into 'UEES-IA-Semana1-OrdonezAndrea'...
remote: Enumerating objects: 4, done.
remote: Counting objects: 100% (4/4), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 4 (delta 0), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (4/4), done.
/content/repos/UEES-IA-Semana1-OrdonezAndrea
[main 2f3f3f0] Subir notebook desde Colab
 1 file changed, 1 insertion(+)
 create mode 100644 02_Laboratorio/notebooks/Notebook_1_Fundamentos_de_NumPy_y_Pandas.ipynb
Pega tu token de GitHub:··········
Enumerating objects: 6, done.
Counting objects: 100% (6/6), done.
Delta compression using up to 2 threads
Compressing objects: 100% (4/4), done.
Writing objects: 100% (5/5), 8.86 KiB | 4.43 MiB/s, done.
Total 5 (delta 0), reused 0 (delta 0), pack-reused 0
remote: error: GH013: Repository rule violations found for refs/heads/main.
remote:
remote: - GITHUB PUSH PROTECTION
remote:   —————————————————————————————————————————
remote:     Resolve the following violations before pushing again
remote:
remote:     - Push cannot contain secrets
remote:
remote:
remote:      (?) Learn how to resolve a blocked push
remote:      https://docs.github.com/code-security/secret-scanning/working-with-secret-scanning-and-push-protection/working-with-push-protection-from-the-command-line#resolving-a-blocked-push
remote:
remote:
remote:       —— GitHub Personal Access Token ——————————————————————
remote:        locations:
remote:          - commit: 2f3f3f00a1fffdd855835a8b1e9a0a6a1b727f47
remote:            path: 02_Laboratorio/notebooks/Notebook_1_Fundamentos_de_NumPy_y_Pandas.ipynb:1
remote:          - commit: 2f3f3f00a1fffdd855835a8b1e9a0a6a1b727f47
remote:            path: 02_Laboratorio/notebooks/Notebook_1_Fundamentos_de_NumPy_y_Pandas.ipynb:1
remote:
remote:        (?) To push, remove secret from commit(s) or follow this URL to allow the secret.
remote:        https://github.com/akordone22/UEES-IA-Semana1-OrdonezAndrea/security/secret-scanning/unblock-secret/367dHUZEt1Bx6r9t9bfUWWNc8XN
remote:
remote:
remote:
To https://github.com/akordone22/UEES-IA-Semana1-OrdonezAndrea.git
 ! [remote rejected] main -> main (push declined due to repository rule violations)
error: failed to push some refs to 'https://github.com/akordone22/UEES-IA-Semana1-OrdonezAndrea.git'